<section class="h-full w-full flex overflow-hidden relative justify-center items-center py-5 lg:py-24">
    <div class="absolute top-[1%] lg:top-16 right-[12%] rotate-6 flex flex-col items-center h-fit bg-white w-fit rounded-lg  drop-shadow-md">
		<img src="./images/DSC_8141.webp" alt="Imagen de Cris y Jose" class="border-[8px] lg:border-[24px] rounded-lg border-white w-[200px] lg:w-[500px] aspect-[16/13] object-cover object-left" />
		<div class="flex flex-col items-center justify-center gap-0 text-white">
			<img src="./camera.png" class="w-16 lg:w-24 pb-4">
			<!-- <p class="font-infant text-[20px] lg:text-[56px] text-center">Cris & Jose</p>
			<p class="font-infant text-[14px] lg:text-[24px] pb-4 text-center">7 de Diciembre</p> -->
		</div>
	</div>
    <div class="absolute left-[5%] lg:left-[12%] top-[58%]  lg:top-[14%] -rotate-6 flex flex-col items-center h-fit bg-white w-fit rounded-lg drop-shadow-md">
		<img src="./images/DSC_8159.webp" alt="Imagen de Cris y Jose" class="border-[8px] lg:border-[24px] rounded-lg border-white w-[200px] lg:w-[500px] aspect-[16/13] object-cover" />
		<div class="flex flex-col items-center justify-center gap-0 text-white">
			<img src="./ticket.png" class="w-16 lg:w-24 pb-4">
			<!-- <p class="font-infant text-[20px] lg:text-[56px] text-center">Cris & Jose</p>
			<p class="font-infant text-[14px] lg:text-[24px] pb-4 text-center">7 de Diciembre</p> -->
		</div>
	</div>
    <div class="absolute flex flex-col top-[32%] lg:top-0 items-center h-fit bg-white w-fit rounded-lg drop-shadow-md">
		<img src="./images/DSC_7632.webp" alt="Imagen de Cris y Jose" class="border-[8px] lg:border-[24px] rounded-lg border-white w-[200px] lg:w-[500px] aspect-[16/13] object-cover" />
		<div class="flex flex-col items-center justify-center gap-0">
			<p class="font-infant text-[20px] lg:text-[56px] text-center">Cris & Jose</p>
			<p class="font-infant text-[14px] lg:text-[24px] pb-4 text-center">7 de Diciembre</p>
		</div>
	</div>
</section>