<section class="mt-10 lg:mt-0 pb-10 lg:pb-40 overflow-hidden relative">
  <div class="w-full overflow-hidden relative">
    <div class="flex w-max gap-5 carousel-track">
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />

      <!-- duplicado -->
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
      <img src="./images/placeholder.jpg" alt="Imagen de Cris y Jose" class="w-[175px] lg:w-[300px] aspect-[9/14] object-cover border-white border-[6px] lg:border-[16px]" />
    </div>

    <!-- overlays de fade -->
    <div class="absolute top-0 left-0 w-16 h-full bg-gradient-to-r from-primary to-transparent pointer-events-none"></div>
    <div class="absolute top-0 right-0 w-16 h-full bg-gradient-to-l from-primary to-transparent pointer-events-none"></div>
  </div>
</section>

<style>
.carousel-track {
  animation: scroll 23s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
</style>
