<section class="w-full px-5 py-10 lg:py-24 font-infant tracking-tighter text-center items-center flex flex-col gap-10 justify-center">
	<p class="text-[28px] lg:text-[40px] max-w-[500px] text-pretty text-center">
		Estamos contando los días para vivir este momento tan especial en la mejor compañía.
	</p>
</section>